# ROS 2 & Colcon build artifacts
build/
install/
log/
.colcon/

# Python
__pycache__/
*.py[cod]
*.venv
.env

# IDE & Docker artifacts
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
*.swp
docker-compose.override.yml

.DS_Store
